[DEFAULT]
use_all_singular_values = False
embedding_path
is_inference = False
is_training_inference = False
r1 = 5e-7
reg_par = 1e-8

[COMMON]
dataset = EURLEX
home = /home/praveen.balireddy/MTP2020-RankingXML

[MEDIAMILL]
input_size = 120
output_size = 101
embedding_size = 100
attention_layer_size = 25
encoder_layer_size = 150
hidden_layer_size = 100
learning_rate = 1e-2
epoch_num = 100
batch_size = 256
m = 10
lamda = 1
full_path = ${COMMON:home}/datasets/Mediamill/Mediamill_data.txt
train_path = ${COMMON:home}/datasets/Mediamill/mediamill_trSplit.txt
test_path = ${COMMON:home}/datasets/Mediamill/mediamill_tstSplit.txt
check_path = ${COMMON:home}/checkpoints/mediamill.model

[DELICIOUS]
input_size = 500
output_size = 983
embedding_size = 100
attention_layer_size = 50
encoder_layer_size = 120
hidden_layer_size = 80
learning_rate = 1e-2
epoch_num = 100
batch_size = 256
m = 10
lamda = 1
full_path = ${COMMON:home}/datasets/Delicious/Delicious_data.txt
train_path = ${COMMON:home}/datasets/Delicious/delicious_trSplit.txt
test_path = ${COMMON:home}/datasets/Delicious/delicious_tstSplit.txt
check_path = ${COMMON:home}/checkpoints/delicious.model

[RCV]
input_size = 47236
output_size = 2456
embedding_size = 200
attention_layer_size = 50
encoder_layer_size = 600
hidden_layer_size = 200
learning_rate = 1e-3
epoch_num = 100
batch_size = 256
m = 10
lamda = 10
full_path
train_path = ${COMMON:home}/datasets/RCV1-x/rcv1x_train.txt
test_path = ${COMMON:home}/datasets/RCV1-x/rcv1x_test.txt
check_path = ${COMMON:home}/checkpoints/rcv.model

[EURLEX]
input_size = 5000
output_size = 3993
embedding_size = 100
attention_layer_size = 25
encoder_layer_size = 1000
hidden_layer_size = 100
learning_rate = 1e-2
epoch_num = 1000
batch_size = 256
m = 10
lamda = 1
full_path
train_path = ${COMMON:home}/datasets/Eurlex/eurlex_train.txt
test_path = ${COMMON:home}/datasets/Eurlex/eurlex_test.txt
embedding_path = ${COMMON:home}/data/embedding_weights_eurlex.csv
check_path = ${COMMON:home}/checkpoints/eurlex.model